/*page15*/
.img_event {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0%px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 180px;
  height: 280px;
}
